@using Eventures.Models.ViewModels
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<UserViewModel>
@{

    int indexItem = 1;
}

<div class="mt-3 mb-5 text-center">
    <h1 class="text-center">Users Administration</h1>
    <hr class="hr-2 bg-dark" />
    <div class="container">
        <table class="table w-75 mx-auto table-hover">
            <thead>
                <tr class="row">
                    <th class="col-md-1">#</th>
                    <th class="col-md-4">Username</th>
                    <th class="col-md-2">UserRole</th>
                    <th class="col-md-5">Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (UserViewModel e in Model)
            {
                <tr class="row">
                    <th class="col-md-1">@(indexItem++)</th>
                    <td class="col-md-4">@e.UserName</td>
                    <td class="col-md-2">@e.UserRole</td>
                    <td class="col-md-5">
                        <form asp-action="Users" method="post" class="col">
                            <div class="input-group mb-3">
                                <input class="userData" name="userData" value="@(e.Id + " " + e.UserRole)" hidden/>
                                <div class="button-holder d-flex justify-content-center ml-2 mx-auto">
                                    <button type="submit" class="btn bg-color-order">
                                        @(e.UserRole == "Admin" ? "[Demote]" : "[Promote]")
                                    </button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="mx-auto" style="width:50px">
            @Html.PagedListPager(Model, page => Url.Action("Users", new { page }), new PagedListRenderOptions { LiElementClasses = new [] { "page-item" }, PageClasses = new[] { "page-link" } })
        </div>
    </div>
</div>


